<div class="template" id="about" name="about">
{{!-- template begins --}}
  {{!-- Middle Sections --}}
  <div class="row">
    <div class="rightcolumn" id="right">
      <div class="content" id="content-intro">
        <h2>About this proyect</h2><hr>
          <p class="a">
           I'm Alfredo Thill, junior fullstack developer and DnD enthusiast. I've made this proyect as web development practice. The content on this app constantly refers to 
          <a href="http://www.d20srd.org/indexes/monstersAsRaces.htm">The Hypertext d20 SRD</a> which, as I understand it's open source content. The home page header background
           image it's copyright of Wizards of The Coast. I built this page for personal use, without intention of profit. Also, the custom font used in the header and the footer, 'Aniron', 
           it's not of my property but it's free for personal use. Everything else, web page desing (built in nodejs), general content, monster entries and analisis, it's my doing. Of course, this 
           Web App is still on development. 
           <br><br>
           Please contact me if you think I am infringing any copy right laws, about any bugs on the web page or with suggestions/opinions about content.
          <br><br>
           Again, thank you for reading.
          </p>
      </div>
    </div>
  </div>
{{!-- template ends --}}
</div> 