<div class="template" id="forum" name="forum">
{{!-- template begins --}}
  {{!-- Middle Sections --}}
  <div class="row">
    <div class="rightcolumn" id="right">
      <div class="content" id="content-intro">
          <p class="a">
           Every monster entry has a discussion thread, here you will find a list with the active ones, click on them and you'll be redirected
           to the monster's page. Also, for anything non monster specific you can start a thread here, labeled as 
           'General Discussion'. For example, ask for a monster entry that hasn't been posted yet, comment or critisize on the introduction content
           and so on.
          </p>
          <br><br>
          PENDING
      </div>
    </div>
  </div>
{{!-- template ends --}}
</div> 