<div class="template" id="index" name="home">
{{!-- template begins --}}
  {{!-- Middle Sections --}}
  <div class="row">
    <div class="leftcolumn" id="left">
      <div class="sticky" id='side-index'>
        <h3>Index</h3>
        <a href="#" class="index" name='content-intro'> Introduction</a>
        <a href="#" class="index" name='content-roleplay'> Roleplaying</a>
        <a href="#" class="index" name='content-build'> My Monster</a>
        <a href="#" class="index" name='content-classes'> Classes and Ability Scores</a>
        <a href="#" class="index" name='content-gear'> Equipment</a>
      </div> 
    </div>
    <div class="rightcolumn" id="right">
      <div class="content" id="content-intro">
        <h2>Welcome!</h2><hr>
          <p class="a">
          I’ve read many times in the forums that monster as player characters should be avoided, between racial hit dice and level adjustment; they are inferior to “regular” characters. While that is true most of the times this handbook intention is to build playable monsters PCs that are not only fun to play but also challenging, an overall change of pace to your regular D&D adventure. By playable I mean not too distant on power/resources relative to regular characters, able to contribute to a party of the same effective character level in some way, sometimes significantly and even in a dominant way, as it can be with martial oriented monsters PCs.
          For simplicity, and mostly for my own preferences, all the options discussed will be from the Core rule set, which I believe is more than enough to build any character concept. As monsters I’ll consider also templates available on these sources before mentioned.
          Any comment, suggestion or critic is more than welcome. 
          <br><br>
          Thank you in advance for reading.
          <br><br>
          Before going on I strongly advice that you read: 
          <a href="http://www.d20srd.org/indexes/monstersAsRaces.htm">Monsters as Races</a>
          </p>
      </div>
      <div class="content" id="content-roleplay">
        <h2>A note on Roleplaying</h2><hr>
          <p class="a">
          In my opinion role playing is the most demanding part of the game, interpreting a character with a different personality that of yourself and keeping coherency all through the adventure is very rewarding, interesting and funny. In the case of monster characters the challenge may be even bigger, a monster PC in a regular PC party should have clear motives and justifications which he not may able to sustain across the game, that’s where the metagame comes in play, you should think in advance how your character would procced and its behavior change in order to keep up with the party. In an all-monsters party this problem could be lessened or a lot worse, depending on the monster races involved. Finally, many monsters have preferred alignments or “fixed” ones, such as “usually evil” or “always lawful good”, a monster character is not a regular monster. You could by-pass this with your DM, justifying any change with the background of the character. For example, the typical spared baby orc raised in a monastery turning into a lawful neutral monk; an exiled hound archon turned chaotic good by some over-zealous act by it or its fellows, living in the material plane. As a last resort you could try to justify an otherwise far-fetched alignment by cursed item “Helm of Opposite Alignment”.
          </p>
      </div> 
      <div class="content" id="content-build">
        <h2>Building your Monster Character</h2><hr>
          <p class="a">
          There are two principal issues when making a MPC, total hit dice and class levels. Most monsters come with level adjustment or/and racial hit dice. That means that at a certain party ECL the MPC will have less total hit dice and less total class levels than a PC. This essentially leaves behind a MPC in hit points, base attack bonus and class features, plus other things. Class features may include casting, full casters classes are the most powerful classes in 3.5. So a MPC pursuing a caster class will be inferior to PC in regard of casting ability. Still, a monster race may have other things to offer and full casters are so versatile and powerful that even at a low casting level they are able to contribute to a party that lacks the respective class, I’ll give specific examples later on. As for martial characters the gap isn’t so big, a MPC could rely on its racial traits to match a PC of the same ECL or go so far as being better fulfilling the same role.
          <br><br>With most monsters there is a minimum party ECL to begin with, that also limits your choice depending on the adventure. A willing DM could adjust a level progression to allow you to play from level 1, “Savage Species” source book from 3.0 deals with this specifically but a reasonable DM with sufficient knowledge of the system rules could do it alone. I wouldn’t myself unless presented with an interesting character concept.
          <br><br>As written, monsters characters should have wealth and experience according to their ECL, not their hit dice or class levels.
          </p>
      </div>
      <div class="content" id="content-classes">
        <h2>Class Review</h2><hr>
        <p class="b">It’s advisable that every monster character have a good constitution score, more so than a regular PC. That is in order to make up for the lesser hit point derived from fewer hit dice.</p>
        <p class="a"><b>- Barbarian:</b> levels in this class will empower greatly any melee monster. Remember that you won’t be able to use spells or spell-like abilities while enraged. Barbarians usually tank with their large pool of hit points, this is most effective but not sustainable without a reliable healing source.
                      <br>Recommended for monsters with high Str.<br><br>
                      <b>- Fighter:</b> fighter levels quickly add up to the martial capabilities of a monster. The extra feats allow easy access to various combat modes; try to synergize it with the monster’s capabilities. Wearing heavy armor may result in very high AC, adding natural armor bonuses.
                      <br>Recommended for monsters with high Str and/or Dex.<br><br>
                      <b>- Rogue:</b> Monsters with several natural attacks could exploit sneak attack the most, even if the extra damage isn’t much, coupled with two/multiple weapon fighting the attacks will pile up. Keep in mind that large monsters may have trouble being stealthy.
                      <br>Recommended for monsters with high Dex and Str.<br><br>
                      <b>- Monk:</b> Large size gives a considerable boost on the unarmed strike damage die and makes a grappling monk more appealing. Natural reach is optimal. Several monsters with high strength will more than make up for the monk’s lower bab. Small sized monsters on the other hand are less attractive but still playable. Remember that monks, in combat, perform best as secondary melee, supporting other characters and picking specific targets, relying on their mobility.
                      <br>Recommended for monsters with good Str and Dex, a Wis boost contributes also.<br></p>
        <p class="b">Regular PCs in a half casting class already receive their casting at late levels and with very limited power. This issue is even more so for Monster Characters. Still spell completion and <a href="http://www.d20srd.org/srd/magicItems/magicItemBasics.htm#spellTrigger">Spell Trigger</a> activated items, scrolls and wands, may and should be used, if the campaign allows. </p>
        <p class="a"><b>- Bard:</b> Any monster with no Cha penalty and good physical stats may be a good combat oriented bard, using his magical abilities as support. Monster with high Cha could be a caster bard, with a lower caster level than a PC. Bardic Music depends on class levels, keep that in mind. Bards are versatile characters but lack specialization.
                      <br>Recommended for monsters with good Str and Dex or monsters with high Cha.<br><br>
                      <b>- Paladin:</b> Most of the paladin class features depend directly on its class levels, namely Smite Evil and Lay on Hands. The multiple ability dependant nature of the paladin favors monsters with good overall scores, which there are. The Special Mount feature may be easily wasted on monster characters. As the Fighter, it may enjoy high AC.
                      <br>Recommended for monsters with good Str and Cha, penalties on Wis are better avoided.<br><br>
                      <b>- Ranger:</b> Combat Styles are not useful to every monster, some will not have the bab and/or dexterity to rely on ranged attacks and other will favor natural attacks over two weapon fighting.  Animal companion will come too late and be too weak to be of significance outside scouting and roleplaying.
                      <br>Recommended for monsters with good Str and Dex, penalties on Wis are better avoided.<br></p>
        <p class="b">Full casters most powerful trait is their casting capabilities, MPC will always have lesser, sometimes much lesser, casting capabilities. This often includes: access to lower spells levels, less spells per day and lower caster level. Caster level affects not only the effect and duration of some spells, also determinas your chance of overcoming Spell Resistance, chance of succesfully dispelling magical efects and the chance of your own spell effects to resist dispelling. That doesn’t mean you can’t advance in a full casting class your MPC. You have at least two alternatives; go for the gish type character, superior physical stats may allow this, using magic as support or soft control, picking spells that avoid spell resistance and/or saves. Or instead you can make full use of your casting, a boost on your casting stat and several items could achieve this. There are many low level spells that are useful a high level, for example Protection from X, Grease and Entangle; you should focus on this kind of spells. As with half-casters, spell completion, spell trigger items and any source for extra slots are useful and even necessary.</p>
                      <b>- Sorcerer:</b> The small hit dice can be a problem, in addition to fewer hit dice of a MPC. Spontaneous casting is especially attractive to the gish types, as they tend to use the same spells many times. Monsters with high Cha and Cha dependent abilities are suitable Sorcerers. The sorcerer shares its spells with the wizard, the best spell list in the book.
                      <br>Recommended for monsters with good Str, Dex and Cha. Penalties on Cha are excluding almost every time.<br><br>
                      <b>- Wizard:</b> The gish types have easier access to combat expertise and the combat modes it offers. As regular, wizards get new spells levels earlier than a sorcerer of the same class level.
                      <br>Recommended for monsters with good Str, Dex and/or Int. Penalties on Int are excluding.<br><br>
                      <b>- Druid:</b> Your animal companion will grow quickly in power but will always fulfill a scout role or support at most. Wildshape likely won’t be a combat buff any more but still gives you access to movement modes and mild healing. Probably the monster’s natural form will be your combat choice, so Heavy Armor Proficiency as a feat becomes more appealing.
                      <br>Recommended for monsters with good Wis. Str and Dex are defining additions.<br><br>
                      <b>- Cleric:</b> Certain domains offer powers that are useful from class level 1, War and Luck domains for example, and others that are just nice from a role playing point of view, like the Animal Domain. The cleric has useful buffs from class level 1 that remain to be useful all through the game.
                      <br>Recommended for monsters with good Str and Wis. Penalties on Wis should be avoided.<br></p>
        <p class="b">Monsters racial hit dices give skill ranks, base attack bonus and feats, among other things. This allows a monster to enter some Prestige Classes with fewer or even no Class levels, compared to a regular PC whose only way to fulfill the adequate requirements is through Class Levels. Below relevant Prestige Classes will be listed but a monster may follow any PrC it wants.</p>
        <p class="a"><b>- Assassin:</b> Some monsters may have immediate access to this very interesting class. The most limiting requirement is alignment.  
                      <br>Recommended for any evil monster suitable to be a Rogue, a bonus in Int would be very welcome.<br><br>
                      <b>- Blackguard:</b> Many useful features, MAD. The BAB requirement is the limiting one. Essentially an Evil Paladin.
                      <br>Recommended for any evil monster suitable to be a Paladin.<br><br>
                      <b>- Dragon Disciple:</b> This prestige class gradually makes the character assume the half-dragon template. Generally speaking, melee oriented monsters make the most of this PRC. One level of Bard/Sorcerer often is enough to access this PrC.
                      <br>Recommended for non-dragon monsters with good Str.<br><br>
                      <b>- Duelist:</b> Many of this PRC features count on your character not wearing armor and using light or one handed weapons, natural weapons count as light and may be also used with Power Attack. A few levels of Fighter usually suffice to enter this PrC.
                      <br>Recommended for monsters with good Dex and Int who already prefer not to use armor.<br><br>
                      <b>- Eldritch Knight:</b> if the Monster Race already grants Martial Weapon Proficiencies you could skip the martial class level to enter this class.
                      <br>Recommended for any monster pursuing a Gish type character.<br><br>
                      <b>- Horizon Walker:</b> For some monsters just one level in a class that has Knowledge (Geography) as class skill is enough to enter this class. Those are: Ranger, Knowledge Domain Clerics and Wizard.
                      <br>Recommended for any melee oriented monster.<br><br>
                      <b>- Shadowdancer:</b> This interesting PRC mainly offers stealth and defensive capabilities, plus other things. The limiting factor is the 10 ranks in Hide.
                      <br>Recommended for any monster with high Dex, large size is better avoided.</p>                
      </div>
      <div class="content" id="content-gear">
        <h2>Equipment</h2><hr>
          <p class="a">
          Again, MPC should have wealth adequate to their ECL, not their class level. Keep this in mind while equipping your character. Many monsters lack armor or weapon proficiencies before having class levels. Until you get there you can equip armor and shield with armor check penalty 0, like masterwork studded leather armor. You’ll still suffer arcane spell failure, if relevant. Regarding weaponry, some monsters are already proficient with certain weapons by virtue of their racial hit dice or other sources. If not, you must use what you can, natural weapons mostly.
          </p>
      </div>
    </div>
  </div>
{{!-- template ends --}}
</div> 
  <script src="/javascripts/home.js" defer></script>