/* Add specific for Monsters template */
/* 1.----------------------- Left Container ----------------------- */
    /* My filter input */
        .filter {
            width: 100%;
            font-size: 16px;
            padding: 5px 5px 5px 5px;
            border: 1px solid #ddd;
        }
/* 2.----------------------- Rigth Container ----------------------- */
    /* Listed Items */
        .flex-list {
            display: flex;
            flex-wrap: wrap;
        }
        .flex-list a {
            flex: 1 0 200px;
            box-sizing: content-box;
            background: #e0ddd5;
            color: #171e42;
            padding: 10px 0px 10px 0px;
            margin: 5px 5px;
            text-decoration: none;
            text-align: center;
            position: relative;
        }
    /* Tooltip */
        .tooltip {
            background-color: black;
            color: #fff;
            display: none;
            position: absolute;
            width: 80%;
            border-radius: 6px;
            margin: 0px 10% 0px 10%;
            padding: 5px;
            z-index: 1;
          }
          
        a:hover .tooltip {
           display: block;
        }