<html>
    <body>
        <div style="display: grid;font-family: Arial; padding: 10px;background: #f1f1f1;border: 5px solid #888;border-radius: 10px;">
            <h2>Hail {{name}}!</h2>
            <div>
            <p style='text-align: justify'>
             Your registration is almost done, sorry for the trouble but an account is needed to keep track of forum activity and contributions. If you don't wanna do any of that just ignore this mail. Else, go ahead and click in the link below. Your account will be confirmed and you are ready to log in. Don't take too long though, this link lasts 10 min./caster level.
            </p> 
            </div>
            <div class="content" style='justify-self: center'>
             <a href={{link}}><b>CONFIRM MY ACCOUNT</b></a>
            </div>
            <div>
            <p>
             Looking forward to your opinions, show what you got!.
            </p>  
            </div>
        </div>
    </body>
</html>